.subscription {--tw-bg-opacity: 1;background-color: rgb(255 210 193 / var(--tw-bg-opacity));padding-left: 0.5rem;padding-right: 0.5rem;padding-top: 2.25rem;padding-bottom: 2.75rem
}@media (min-width: 990px) {.subscription {padding-top: 55px;padding-bottom: 60px
    }
}
.subscription__title {margin-bottom: 1.25rem;text-align: center;font-size: 1.875rem;line-height: 2.25rem;font-weight: 600;--tw-text-opacity: 1;color: rgb(0 0 0 / var(--tw-text-opacity))
}
@media (min-width: 990px) {.subscription__title {margin-bottom: 2.75rem;font-size: 2.25rem;line-height: 2.5rem
    }
}
.subscription-form {display: flex;justify-content: center
}
.subscription-form__wrapper {display: flex;justify-content: space-between;border-top-right-radius: 9999px;border-bottom-right-radius: 9999px;--tw-bg-opacity: 1;background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}
@media (min-width: 990px) {.subscription-form__wrapper {max-width: 376px
    }
}
.subscription-form__input {padding-top: 18px;padding-bottom: 18px;padding-left: 1rem;padding-right: 1rem
}
.subscription-form__input:focus-visible {--tw-shadow: 0 0 #0000;--tw-shadow-colored: 0 0 #0000;box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);outline: 2px solid transparent;outline-offset: 2px
}
.subscription-form__button {height: 60px;width: 60px;border-radius: 9999px;--tw-bg-opacity: 1;background-color: rgb(0 0 0 / var(--tw-bg-opacity));--tw-text-opacity: 1;color: rgb(255 255 255 / var(--tw-text-opacity));display: flex;align-items: center;justify-content: center
}
.subscription-form__message {display: flex;justify-content: center
}